body {
  font-family: "Kanit", sans-serif;
  background-image: url("blue-bg.jpg");
  background-size: cover;
  font-weight: bold;
  color: rgb(9, 245, 99);
  text-align: center;
}

h1 {
  color: rgb(30, 196, 247);
}

#message-el {
  font-style: italic;
}

button {
  color: rgb(30, 196, 247);
  width: 150px;
  background: rgb(101, 104, 100);
  padding-top: 5px;
  padding-bottom: 5px;
  font-weight: bold;
  border: none;
  border-radius: 2px;
  margin-bottom: 2px;
  margin-top: 2px;
}
